<div class="album py-5 bg-body-tertiary" *ngIf="repos.length>0">
  <div class="container">
    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem *ngFor="let repo of repos; index as i" [collapsed]="i !== 0">
        <div>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{repo.name}}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <a href="{{repo.html_url}}" target="_blank">{{repo.description}}</a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



